* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font: 16px/1.5 'Tinos', serif;
}

header {
	background: #ffffff;
	text-align: center;
	border-bottom: 1px solid #cccccc;
	padding: 5px 10px;
	position: fixed;
	top: 0;
	width: 100%;
}

header nav ul li {
	display: inline;
	list-style: none;
}

a {
	text-decoration: none;
	padding: 6px;
}

.div-container {
	width: 80%;
	margin: auto;
}

h2 {
	text-align: center;
	padding-bottom: 20px;
	padding-top: 90px;
}

section img {
	display: block;
	height: 150px;
	border: 2px dashed #cccccc;
	margin-top: 20px;
	margin: auto;
}

section em {
	display: block;
	text-align: center;
	margin-bottom: 20px;
}

section p {
	text-align: justify;
	padding-bottom: 80px;
}

section ul li {
	list-style: none;
	border: 2px dotted #cccccc;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 10px;
}

section ul li h3 {
	border-bottom: 1px solid #000000;
}

hr {
	border-top: 2px dashed #cccccc;
	border-bottom: none;
	border-left: none;
	border-right: none;
}

footer p {
	text-align: center;
	padding: 5px;
}

/* responsive */
@media(min-width: 768px) {
	.div-container {
		max-width: 600px;
	}
	header {
		padding-left: 20px;
		padding-right: 20px;
	}
	header h1 {
		float: left;
	}
	header nav {
		float: right;
		padding-top: 7px;
	}
	header nav ul li a {
		padding-left: 30px;
	}
}
