/*
project inspiration
https://s-media-cache-ak0.pinimg.com/originals/79/d9/3e/79d93e6e3a068f7f207b42366162bf3b.jpg
 */

* {
	margin: 0;
	padding: 0;
	font-family: cursive;
}

.div-page {
	margin: 20px auto;
	max-width: 300px;
}

.div-menu {
	text-align: center;
	font-size: 22px;
	padding: 3%;
	background: #27484c;
	color: #fff;
	border-radius: 5px;
	display: none;/*debugging*/
}

.div-menu div {
	padding: 5px 0;
}

select, button {
	width: 40%;
	font-size: 15px;
	border-radius: 3px;
	border: none;
	padding: 2%;
}

.div-main {
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	border-radius: 5px;
	background: #4169e1;
	color: #fff;
	width: 100%;
	display: none;/*debugging*/
}

.div-main p {
	padding: 10px 0;
}

.div-number {
	font-size: 80px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-left: 1px dashed #4169e1;
	border-right: 1px dashed #4169e1;
	background: #ffffff;
	color: #000;
}

.div-footer {
	background: #00bfff;
	border-radius: inherit;
}
